<div th:fragment="formField(product, ageLimits, genres, action, errorMessage)">
    <form th:action="${action}" method="post" class="d-flex flex-column gap-4" th:object="${product}">
        <div th:replace="fragments/error-messages :: errorMessage(${errorMessage})"></div>
        <div th:replace="fragments/form-field :: formField('title', 'Titre du jeu', 'title', 'Titre du jeu', 'text')"></div>
        <div th:replace="fragments/form-field :: formField('playTime', 'Temps de jeu', 'playTime', '1 hour', 'text')"></div>
        <div th:replace="fragments/form-field :: formField('tariff', 'Tarife', 'tariff', '9,99', 'number')"></div>
        <div class="form-group">
            <label for="ageLimit" th:text="'Limite d\'âge'"></label>
            <select class="form-select" id="ageLimit" name="ageLimit"
                    th:classappend="${#fields.hasErrors('ageLimit')} ? ' is-invalid'">
                <option th:text="'Veuillez sélectionner une limite d\'âge'" disabled selected></option>
                <option th:each="ageLimit : ${ageLimits}"
                        th:value="${ageLimit.ageLimitID}"
                        th:text="${ageLimit.label}"
                        th:selected="${product.ageLimit == ageLimit}">
                </option>
            </select>
            <div th:if="${#fields.hasErrors('ageLimit')}" class="invalid-feedback">
                <span th:errors="*{ageLimit}"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="d-flex gap-5 align-items-center mb-3">
                <label for="genres" th:text="'Genres'"></label>
                <button type="button" class="btn btn-secondary mt-2" onclick="deselectAllGenres()">Désélectionner les genres</button>
            </div>
            <select class="form-select" style="height: 300px" multiple id="genres" name="genres"
                    th:classappend="${#fields.hasErrors('genres')} ? ' is-invalid'">
                <option th:each="genre : ${genres}"
                        th:value="${genre.genreID}"
                        th:text="${genre.title}"
                        th:selected="${product.genres?.contains(genre)}">
                </option>
            </select>
            <div th:if="${#fields.hasErrors('genres')}" class="invalid-feedback">
                <span th:errors="*{genres}"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>
