<div th:fragment="paginationFragment(size, page, totalPages, filters, pageName)">
  <nav aria-label="Page navigation example" style="position: fixed; bottom: 0; left: 50%; transform: translateX(-50%)">
    <h1 th:text="${filters}"></h1>
    <ul class="pagination">
      <!-- Première page -->
      <li class="page-item">
        <a class="page-link"
           th:href="${#lists.isEmpty(filters) ? '/' + pageName + '?page=0&size=' + size : '/' + pageName + '?page=0&size=' + size + '&' + #strings.concat(filters)}">
          Première page
        </a>
      </li>

      <!-- Lien vers la page précédente -->
      <li class="page-item" th:classappend="${page == 0} ? 'disabled'">
        <a class="page-link"
           th:href="${#lists.isEmpty(filters) ? '/' + pageName + '?page=' + (page-1) + '&size=' + size : '/' + pageName + '?page=' + (page-1) + '&size=' + size + '&' + #strings.concat(filters)}"
           th:if="${page > 0}"><<</a>
      </li>

      <!-- Boucle pour afficher les numéros de page (avant la page actuelle) -->
      <li class="page-item" th:each="i : ${#numbers.sequence(3, 0)}"
          th:classappend="${page - i == page} ? 'active'">
        <a th:if="${page - i >= 0}"
           class="page-link"
           th:href="${#lists.isEmpty(filters) ? '/' + pageName + '?page=' + (page - i) + '&size=' + size : '/' + pageName + '?page=' + (page - i) + '&size=' + size + '&' + #strings.concat(filters)}"
           th:text="${page - i + 1}"></a>
      </li>

      <!-- Boucle pour afficher les numéros de page (après la page actuelle) -->
      <li class="page-item" th:each="i : ${#numbers.sequence(1, 3)}"
          th:classappend="${page + i == page} ? 'active'">
        <a th:if="${page + i < totalPages}"
           class="page-link"
           th:href="${#lists.isEmpty(filters) ? '/' + pageName + '?page=' + (page + i) + '&size=' + size : '/' + pageName + '?page=' + (page + i) + '&size=' + size + '&' + #strings.concat(filters)}"
           th:text="${page + i + 1}"></a>
      </li>

      <!-- Lien vers la page suivante -->
      <li class="page-item" th:classappend="${page + 1 >= totalPages} ? 'disabled'">
        <a class="page-link"
           th:href="${#lists.isEmpty(filters) ? '/' + pageName + '?page=' + (page+1) + '&size=' + size : '/' + pageName + '?page=' + (page+1) + '&size=' + size + '&' + #strings.concat(filters)}"
           th:if="${page + 1 < totalPages}">>></a>
      </li>

      <!-- Dernière page -->
      <li class="page-item">
        <a class="page-link"
           th:href="${#lists.isEmpty(filters) ? '/' + pageName + '?page=' + (totalPages - 1) + '&size=' + size : '/' + pageName + '?page=' + (totalPages - 1) + '&size=' + size + '&' + #strings.concat(filters)}">
          Dernière page
        </a>
      </li>
    </ul>
  </nav>
</div>
